* {
	box-sizing: border-box;
	margin: 0;
}
body {
	display: flex;
	flex-flow: row wrap;
}
header, footer {
	flex: 1 0 100%;
	height: 90px;
}
#menuTopo {
	order: 0;
	filter: drop-shadow(0 3px 6px rgba(133,133,133,0.5));
}
main {
	margin: 0 auto 20px auto;
	flex: 1 1 100%;
	order: 1;
	min-height: calc(100vh - 180px - 40px);
	max-height: calc(100% - 120px);
	background-color: #e0e0e0;
	position: relative;
	padding: 0 !important;
}
#stats {
	background-color: #343536;
	color: lightgreen;
	margin: 0 0 10px 0;
}
#participante {
	font-size: 0.8em;
	text-align: left;
	color: lightgreen;
	display: block;
	list-style: none;
	text-transform: uppercase;
}
#statsLista {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 20px;
	width: 100%;
}
#statsLista li {
	flex: 1 1 100%;
	font-size: 1.5em;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}
#statsLista li:first-child {
	text-align: left;
}
#statsLista li:last-child {
	text-align: right;
}
main section {
	margin: 15px;
}
.pergunta {
	/*border: 2px solid #343536;*/
	/*background-color: lightgreen;*/
	color: #343536;
}

.pergunta {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	padding-bottom: 40px;
}
.pergunta h2 {
	margin: 40px auto 10px 30px;
	font-size: 1.3em;
}
.dica {
	margin: 0 auto 10px 30px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.pergunta hr {
	margin: 0 20px 30px 20px;
	opacity: 0.5;
}
.pergunta label {
	margin: 5px auto 5px 30px;
	padding: 20px;
	cursor: pointer;
}
.pergunta label input {
	margin: 0 10px 0 0;
	font-size: 1.25em;
}
#enviar {
	width: 100px;
	margin: 20px auto;
	background-color: rgba(48,237,48,1);
	font-size: 1.25em;
	border: 2px solid #000;
	border-radius: 30px;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	position: absolute;
	bottom: 64px;
	left: calc(50% - 50px);
}
#controlador {
	width: 100%;
	margin: 10px auto 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	position: absolute;
		bottom: 0;
		left: 0;
}
#controlador button {
	padding: 10px;
	background-color: lightgreen;
	color: #333435;
	font-size: 1.5em;
	line-height: 1.5em;
	border: 2px solid #333435;
	flex: 1 1 20%;
}
footer {
	order: 2;
	text-align: center;
	color: grey;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
		bottom: 0;
	border-top: 5px solid lightgreen;
}
#logo3D {
	position: fixed;
	bottom: 40px;
	-webkit-perspective: 400px;
	perspective: 400px;
}
#cube {
	display: block;
	position: relative;
	margin: 10px auto;
	height: 25px;
	width: 25px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
	transform-style: preserve-3d;
	transform: rotateX(0) rotateY(0) rotateZ(0);
	animation: giroTresD 4s infinite linear;
}
#logoDH {
	position: absolute;
	height: 30px;
	width: 30px;
	-webkit-backface-visibility: visible;
	-webkit-transform: rotateY(180deg) translateX(15px);
	backface-visibility: visible;
	transform: rotateY(180deg) translateX(15px);
}
@keyframes giroTresD {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}
footer small{
	flex: 1 1 auto;
	padding-top: 40px;
}
.oculto {
	display: none;
}
button:disabled{
	background-color: grey !important;
	color: darkgrey !important;
	cursor: not-allowed;
}